# Условие 2
## На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [110]:
def fruits(**kwargs):
    print(type(kwargs))
    
    total_fruits = sum(kwargs.values())
    
    return f'Total fruits: {total_fruits}'
        
my_fruits= {'banana': 5, 'mango' : 7, 'apple' : 8, 'apples' : 10, 'pears': 5}

fruits(**my_fruits)

<class 'dict'>

'Total fruits: 35'

# Условие 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

### вариант 1

In [111]:
def expenses(data: list):
    
    new_data = []
    
    for i in data:
        if i > 0:
            new_data.append(i)
            
    print(new_data)
    print(f'Total expenses: {sum(new_data)}')

In [112]:
data = [100, 125, -90, 345, 655, -1, 0, 200]

expenses(data)

[100, 125, 345, 655, 200]
Total expenses: 1425

### вариант 2

In [135]:
def expenses(data: list):
    
    new_data =[i for i in data if i >0]
            
    print(new_data)
    print(f'Total expenses: {sum(new_data)}')

In [136]:
data = [100, 125, -90, 345, 655, -1, 0, 200]

expenses(data)

[100, 125, 345, 655, 200]
Total expenses: 1425

# Условие 4.1:

## Даны два списка.

Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

## 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

## 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

### Решение 4.1

### вариант 1

In [187]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
        '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
        '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
cost = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 
        4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
        2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [188]:
def november(data1: list, data2: list) -> list:
    
    new_data = []
    
    for i in range(len(data1)):
       if '2021-11' in data1[i]:
            new_data.append(data2[i])
            
    return new_data

In [190]:
print(november(date, cost))
print(f'Sales: {sum(november(date, cost))}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Sales: 25098

### вариант 2

In [208]:
print([cost[i] for i in range(0, len(date)) if "2021-11" in date[i]])
print(f'Sales november: {sum([cost[i] for i in range(len(date)) if "2021-11" in date[i]])}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Sales november: 25098

### Решение 4.2

### вариант 1

In [222]:
def sales (data1: list, data2: list) -> dict:
    
    sales = {}
    
    for i in range(len(data1)):
        
        if date[i].split('-')[1] in sales.keys():
            sales[date[i].split('-')[1]] += cost[i]
        else:
            sales[date[i].split('-')[1]] = cost[i]
            
    return sales

print(sales(date, cost))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}

### вариант 2

In [207]:
dt = ['2021-09-14', '2021-12-15', '2021-09-08', 
      '2021-12-05', '2021-10-09', '2021-09-30', 
      '2021-12-22', '2021-11-29', '2021-12-24', 
      '2021-11-26', '2021-10-27', '2021-12-18', 
      '2021-11-09', '2021-11-23', '2021-09-27', 
      '2021-10-02', '2021-12-27', '2021-09-20', 
      '2021-12-13', '2021-11-01', '2021-11-09', 
      '2021-12-06', '2021-12-08', '2021-10-09', 
      '2021-10-31', '2021-09-30', '2021-11-09', 
      '2021-12-13', '2021-10-26', '2021-12-09']
sm = [1270, 8413, 9028, 3703, 5739, 4095, 295, 
      4944, 5723, 3701, 4471, 651, 7037, 4274, 
      6275, 4988, 6930, 2971, 6592, 2004, 2822, 
      519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
 
import pandas as pd
 
df = pd.DataFrame(sm, index=pd.to_datetime(dt))
print(df[df.index.month==0].sum()[0])
 
print(df.resample('M').sum())

0.0
                0
2021-09-30  25647
2021-10-31  28645
2021-11-30  25098
2021-12-31  45452